<!DOCTYPE html>
<html>

<head>
    <title>Quantified Self</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Quantified Self</h1>
    <nav>
        <ul role="navigation">
            <li><a href="/trackers">My Trackers</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>